@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/public-sans/PublicSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/public-sans/PublicSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/public-sans/PublicSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/public-sans/PublicSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/helvetica-neue/Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/helvetica-neue/HeavyBold.ttf);
  font-weight: 800;
}
