@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue/Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue/Light.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/helvetica-neue/Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/helvetica-neue/HeavyBold.ttf);
  font-weight: 800;
}
