@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/helvetica-neue/Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/helvetica-neue/HeavyBold.ttf);
  font-weight: 800;
}
img {
  width: initial;
  height: inherit;
}

svg {
  width: inherit;
  height: inherit;
  color: inherit;
}

.title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.gap {
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.primary {
  border: none;
  outline: none;
  position: relative;
  padding: 12px 2rem;
  background: inherit;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
}

.primary {
  background: hsl(355deg, 78%, 43%);
  color: hsl(0deg, 0%, 100%);
}

.full-content {
  width: 100%;
}

.field {
  position: relative;
  width: 100%;
}

.list {
  list-style-type: none;
}

.form-input {
  position: relative;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  color: hsl(0deg, 0%, 13%);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.container {
  position: relative;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  color: hsl(0deg, 0%, 100%);
  transition: 0.3s;
}

.header .logo .icon {
  position: absolute;
  color: hsl(355deg, 78%, 43%);
  transform: translate(4px, -8px) rotate(-120deg);
}

.header .logo .subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.nav {
  color: hsla(0deg, 0%, 100%, 0.75);
}

.nav :not(.list:last-child .link) {
  color: inherit;
}

.nav .list.active .link {
  color: hsl(0deg, 0%, 100%);
}

.homepage {
  height: 100vh;
}

.homepage .content {
  color: hsl(0deg, 0%, 100%);
}

.homepage .content .title {
  font-size: 3rem;
  color: inherit !important;
}

.homepage_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(34, 34, 34) 0%, rgba(34, 34, 34, 0) 100%);
}

.homepage_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.homepage_img .photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mx-md {
  margin: 2rem 0;
}

.mx-lg {
  margin: 2.5rem 0;
}

.form {
  position: relative;
}
.form .gap {
  gap: 16px;
}

.input-form {
  background: hsl(0deg, 0%, 100%);
  padding: 16px 2rem;
  color: hsl(0deg, 0%, 13%);
}

.field label {
  font-weight: 600;
}

.input {
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 4px;
}

.cards {
  position: absolute;
  background: hsl(0deg, 0%, 100%);
  padding: 2rem;
  width: 900px !important;
  box-shadow: 0px 8px 45px hsla(0deg, 0%, 13%, 0.1);
  transform: translateY(100%);
}
.cards .content .title {
  font-size: 18px !important;
  margin: 1.5rem 0;
  font-weight: 700;
  color: hsl(0deg, 0%, 13%) !important;
}
.cards .content .icon {
  width: 32px;
  height: 32px;
}
.cards .content .text {
  text-align: justify;
  margin-top: 1.5rem;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 2rem;
  color: hsla(0deg, 0%, 13%, 0.75) !important;
}

.trending {
  margin-top: 150px;
  padding: 100px;
}
.trending .cards {
  margin: 2rem 0;
}
.trending .cards,
.trending .header {
  padding: 0;
  position: relative;
  box-shadow: none;
  background: none;
  transform: none;
}
.trending .list {
  padding: 1.5rem;
  border-radius: 8px;
  background: hsl(0deg, 0%, 100%);
  box-shadow: 0px 8px 45px hsla(0deg, 0%, 13%, 0.1);
}
.trending .img {
  width: 320px;
  height: 200px;
}
.trending .title {
  font-size: 2rem !important;
}
.trending .title,
.trending .text {
  margin: 0 !important;
}
.trending .subtitle {
  font-size: 16px !important;
  color: hsla(0deg, 0%, 13%, 0.75);
}
.trending .review {
  position: relative;
}
.trending .review .icon {
  color: gold;
}
.trending .review .subtitle {
  position: absolute;
  top: 6px;
  left: 5px;
  font-weight: 600;
}
.trending .text {
  font-size: 1.75rem !important;
  color: hsla(0deg, 0%, 13%, 0.75);
}
.trending img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=styles.css.map */