@import 'master';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $head_fonts;
}

body {
  color: $black-primary;
}

.icon {
  width: $md;
  height: $md;
}

.container {
  position: relative;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  color: $white-primary;
}

.header .logo .icon {
  position: absolute;
  color: $primary-color;
  transform: translate(4px, -8px) rotate(-120deg);
}

.header .logo .subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.nav {
  color: $white-secondary;
}

.nav :not(.list:last-child .link) {
  color: inherit;
}

.nav .list.active .link {
  color: $white-primary;
}

.homepage {
  height: 100vh;
}

.homepage .content {
  color: $white-primary;
}

.homepage .content .title {
  font-size: $xl;
  color: inherit !important;
}

.homepage_img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(34, 34, 34, 1) 0%, rgba(34, 34, 34, 0) 100%);
}

.homepage_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.homepage_img .photo {
  width: 100%;
  object-fit: cover;
}

.mx-md {
  margin: $md 0;
}

.mx-lg {
  margin: $lg 0;
}

.form {
  position: relative;
  .gap {
    gap: 16px;
  }
}

.input-form {
  background: $white-primary;
  padding: 16px $md;
  color: $black-primary;
}

.field {
  label {
    font-weight: 600;
  }
}

.input {
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 4px;
}

.cards {
  position: absolute;
  background: $white-primary;
  padding: $md;
  width: 900px !important;
  box-shadow: $shadow-primary;
  transform: translateY(100%);
  .content .title {
    font-size: $rg !important;
    font-weight: 700;
    color: $black-primary !important;
  }

  .content .icon {
    width: 32px;
    height: 32px;
  }

  .content .text {
    font-size: 16px !important;
    line-height: $md;
    color: $black-secondary !important;
  }
}
