@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helvetica-neue/Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/helvetica-neue/Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/helvetica-neue/HeavyBold.ttf);
  font-weight: 800;
}
img {
  width: initial;
  height: inherit;
  object-fit: cover;
}

svg {
  width: inherit;
  height: inherit;
  color: inherit;
}

.title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.gap {
  gap: 2rem;
}

.link {
  text-decoration: none;
  color: inherit;
  text-align: justify;
}

.secondary, .primary {
  border: none;
  outline: none;
  position: relative;
  padding: 12px 2rem;
  text-align: center;
  background: inherit;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
}

.primary {
  background: hsl(355deg, 78%, 43%);
  color: hsl(0deg, 0%, 100%);
}

.secondary {
  border: 1px solid #ddd;
}

.full-content {
  width: 100%;
}

.field {
  position: relative;
  width: 100%;
}

.list {
  list-style-type: none;
}

.form-input {
  position: relative;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: hsl(0deg, 0%, 13%);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.container, .best_sellers .cards,
.best_sellers .header {
  position: relative;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  color: hsl(0deg, 0%, 100%);
  transition: 0.3s;
  z-index: 10;
}

.header .logo .icon {
  position: absolute;
  color: hsl(355deg, 78%, 43%);
  transform: translate(4px, -8px) rotate(-120deg);
}

.header .logo .subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.nav {
  color: hsla(0deg, 0%, 100%, 0.75);
}

.nav .list .link {
  position: relative;
}

.nav :not(.list:last-child .link) {
  color: inherit;
}

.nav .list.active .link {
  color: hsl(0deg, 0%, 100%);
}

.trending,
.destinations,
.best_sellers {
  padding: 100px;
}

.homepage {
  height: 100vh;
}

.homepage .content {
  color: hsl(0deg, 0%, 100%);
}

.homepage .content .title {
  font-size: 3rem;
  color: inherit !important;
}

.homepage_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(34, 34, 34) 0%, rgba(34, 34, 34, 0) 100%);
}

.homepage_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.homepage_img .photo {
  width: 100%;
  object-fit: cover;
}

.mx-md {
  margin: 2rem 0;
}

.mx-lg {
  margin: 2.5rem 0;
}

.form {
  position: relative;
}
.form .gap {
  gap: 16px;
}

.input-form {
  background: hsl(0deg, 0%, 100%);
  padding: 16px 2rem;
  color: hsl(0deg, 0%, 13%);
}

.field label {
  font-weight: 600;
}

.input {
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 4px;
}

.cards {
  position: absolute;
  background: hsl(0deg, 0%, 100%);
  padding: 2rem;
  width: 900px !important;
  box-shadow: 0px 8px 45px hsla(0deg, 0%, 13%, 0.1);
  transform: translateY(125%);
}
.cards .content .title {
  font-size: 18px !important;
  margin: 1.5rem 0;
  font-weight: 700;
  color: hsl(0deg, 0%, 13%) !important;
}
.cards .content .icon {
  width: 32px;
  height: 32px;
}
.cards .list .icon {
  color: #222;
}
.cards .content .text {
  text-align: justify;
  margin-top: 1.5rem;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 2rem;
  color: hsla(0deg, 0%, 13%, 0.75) !important;
}

.trending {
  margin-top: 16rem;
}
.trending .cards {
  margin: 2rem 0;
}
.trending .cards,
.trending .header {
  padding: 0;
  position: relative;
  box-shadow: none;
  background: none;
  transform: none;
}
.trending .list {
  padding: 1.5rem;
  border-radius: 8px;
  background: hsl(0deg, 0%, 100%);
  box-shadow: 0px 8px 45px hsla(0deg, 0%, 13%, 0.1);
}
.trending .img {
  width: 320px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
}
.trending .title {
  font-size: 1.75rem !important;
}
.trending .title,
.trending .text {
  margin: 0 !important;
}
.trending .subtitle {
  font-size: 16px !important;
  color: hsla(0deg, 0%, 13%, 0.75);
}
.trending .review {
  position: relative;
}
.trending .review .icon {
  color: #ffb700;
}
.trending .review .subtitle {
  position: absolute;
  top: 6px;
  right: 5px;
  font-weight: 600;
  color: hsl(0deg, 0%, 13%) !important;
}
.trending .text {
  font-size: 1.75rem !important;
  color: hsla(0deg, 0%, 13%, 0.75);
}
.trending img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destinations {
  padding: 0 100px !important;
}

.nations {
  flex-wrap: wrap;
}
@supports (display: grid) {
  .nations {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
  }
}
.nations .photo {
  width: 100%;
  height: 100%;
}
.nations .list-1:hover .desc {
  visibility: visible;
  opacity: 1;
}
.nations .list-1 {
  position: relative;
  border-radius: 8px;
  list-style-type: none;
  overflow: hidden;
}
@supports (display: grid) {
  .nations .list-1 {
    grid-column: var(--column);
    grid-row: var(--row);
  }
}
.nations .list-1 .img {
  z-index: 1;
}
.nations .list-1 .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  color: hsl(0deg, 0%, 100%);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.nations .list-1 .desc .title {
  margin: 12px 0;
}
.nations .list-1 .desc .text {
  font-size: var(--text) !important;
  line-height: 1.75rem;
  color: hsla(0deg, 0%, 100%, 0.75);
  font-weight: 500;
}
.nations .list-2:hover .desc {
  visibility: visible;
  opacity: 1;
}
.nations .list-2 {
  position: relative;
  border-radius: 8px;
  list-style-type: none;
  overflow: hidden;
}
@supports (display: grid) {
  .nations .list-2 {
    grid-column: var(--column);
    grid-row: var(--row);
  }
}
.nations .list-2 .img {
  z-index: 1;
}
.nations .list-2 .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  color: hsl(0deg, 0%, 100%);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.nations .list-2 .desc .title {
  margin: 12px 0;
}
.nations .list-2 .desc .text {
  font-size: var(--text) !important;
  line-height: 1.75rem;
  color: hsla(0deg, 0%, 100%, 0.75);
  font-weight: 500;
}
.nations .list-3:hover .desc {
  visibility: visible;
  opacity: 1;
}
.nations .list-3 {
  position: relative;
  border-radius: 8px;
  list-style-type: none;
  overflow: hidden;
}
@supports (display: grid) {
  .nations .list-3 {
    grid-column: var(--column);
    grid-row: var(--row);
  }
}
.nations .list-3 .img {
  z-index: 1;
}
.nations .list-3 .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  color: hsl(0deg, 0%, 100%);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.nations .list-3 .desc .title {
  margin: 12px 0;
}
.nations .list-3 .desc .text {
  font-size: var(--text) !important;
  line-height: 1.75rem;
  color: hsla(0deg, 0%, 100%, 0.75);
  font-weight: 500;
}
.nations .list-4:hover .desc {
  visibility: visible;
  opacity: 1;
}
.nations .list-4 {
  position: relative;
  border-radius: 8px;
  list-style-type: none;
  overflow: hidden;
}
@supports (display: grid) {
  .nations .list-4 {
    grid-column: var(--column);
    grid-row: var(--row);
  }
}
.nations .list-4 .img {
  z-index: 1;
}
.nations .list-4 .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  color: hsl(0deg, 0%, 100%);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.nations .list-4 .desc .title {
  margin: 12px 0;
}
.nations .list-4 .desc .text {
  font-size: var(--text) !important;
  line-height: 1.75rem;
  color: hsla(0deg, 0%, 100%, 0.75);
  font-weight: 500;
}
.nations .list-5:hover .desc {
  visibility: visible;
  opacity: 1;
}
.nations .list-5 {
  position: relative;
  border-radius: 8px;
  list-style-type: none;
  overflow: hidden;
}
@supports (display: grid) {
  .nations .list-5 {
    grid-column: var(--column);
    grid-row: var(--row);
  }
}
.nations .list-5 .img {
  z-index: 1;
}
.nations .list-5 .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  color: hsl(0deg, 0%, 100%);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.nations .list-5 .desc .title {
  margin: 12px 0;
}
.nations .list-5 .desc .text {
  font-size: var(--text) !important;
  line-height: 1.75rem;
  color: hsla(0deg, 0%, 100%, 0.75);
  font-weight: 500;
}
.nations .list-6:hover .desc {
  visibility: visible;
  opacity: 1;
}
.nations .list-6 {
  position: relative;
  border-radius: 8px;
  list-style-type: none;
  overflow: hidden;
}
@supports (display: grid) {
  .nations .list-6 {
    grid-column: var(--column);
    grid-row: var(--row);
  }
}
.nations .list-6 .img {
  z-index: 1;
}
.nations .list-6 .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  color: hsl(0deg, 0%, 100%);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.nations .list-6 .desc .title {
  margin: 12px 0;
}
.nations .list-6 .desc .text {
  font-size: var(--text) !important;
  line-height: 1.75rem;
  color: hsla(0deg, 0%, 100%, 0.75);
  font-weight: 500;
}

.best_sellers .cards,
.best_sellers .header {
  transform: none;
  padding: 0;
}
.best_sellers .list {
  padding: 1.5rem;
  border-radius: 8px;
  background: hsl(0deg, 0%, 100%);
  box-shadow: 0px 8px 45px hsla(0deg, 0%, 13%, 0.1);
}
.best_sellers .img {
  width: 320px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
}
.best_sellers .list .title {
  font-size: 18px !important;
}
.best_sellers .text {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 2rem;
  text-align: justify;
  color: hsla(0deg, 0%, 13%, 0.75);
  white-space: pre-wrap;
  overflow: hidden;
}
.best_sellers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
